$breakpoint-4k: 2560px;
$breakpoint-laptop-l: 1440;
$breakpoint-laptop-m: 1280px;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-l: 425px;
$breakpoint-mobile-m: 375px;
$breakpoint-mobile-s: 320px;