$base-100: hsl(240, 8%, 100%);
$base-200: hsl(220, 20%, 97%);
$base-300: hsl(240, 8%, 90%);
$base-400: hsl(240, 8%, 70%);
$base-700: hsl(240, 8%, 60%);
$base-800: hsl(240, 8%, 50%);
$base-900: hsl(240, 8%, 10%);

$primary: hsl(215, 90%, 55%);
$primary-light: hsl(216, 100%, 98%);

$palette-blue: hsl(207, 89%, 86%);
$palette-green: hsl(121, 51%, 84%);
$palette-purple: hsl(261, 46%, 84%);
$palette-orange: hsl(40, 100%, 75%);
$palette-brown: hsl(16, 16%, 81%);