.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 3em;
    @include fadein;

    @media screen and (max-width: $breakpoint-mobile) {
        padding: 2em 6%;
    }

    &_contact {
        background-color: $base-100;
        padding: 3em;
        border-radius: 1em;

        @media screen and (max-width: $breakpoint-mobile) {
            background-color: $base-200;
            padding: 0;
            border-radius: 0;
        }
    }
}

.hero {
    background-color: $primary;
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: $base-100;
    min-height: 44em;

    @media screen and (max-width: $breakpoint-tablet) {
        min-height: auto;
    }

    &__title {
        @media screen and (max-width: $breakpoint-tablet) {
            font-size: 1.5rem;
        }
    }

    &__label {
        opacity: 0.5;
        margin-bottom: 1em;

        @media screen and (max-width: $breakpoint-tablet) {
            font-size: 1rem;
        }
    }

    &__text {
        padding-top: 1em;
        border-top: 2px solid $base-100;
        max-width: 34em;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    user-select: none;

    @media screen and (max-width: $breakpoint-tablet) {
        .button {
            display: none;
        }
    }

    &__menu {
        display: flex;
        gap: 2em;
        align-items: center;
        flex-wrap: wrap;

        &-link {
            color: $base-100;
            font-weight: 500;
        }
    }
}

.logo {
    &__image {
        display: inline-block;
        vertical-align: bottom;
        margin-right: 1em;
    }

    &__label {
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 3px;
        color: $base-100;
        opacity: 0.7;
        text-transform: uppercase;

        @media screen and (max-width: $breakpoint-mobile-m) {
            margin-top: .5em;
        }
    }
}

.layout {

    &_2col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8%;
        align-items: center;

        @media screen and (max-width: $breakpoint-tablet) {
            grid-template-columns: 1fr;
            gap: 2em;
        }
    }
}

.services {
    background-color: $base-200;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 3em 0;
        grid-gap: 1em;

        @media screen and (max-width: $breakpoint-tablet) {
            grid-template-columns: 1fr;
        }
    }

    &__selector {
        margin-top: 2em;
        display: flex;
        gap: 1em;
        align-items: center;
        overflow-x: auto;
    }

    &__service {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        padding: 2em;
        background-color: $base-100;
        border-radius: 0.5em;

        &_orange {
            border-bottom: 0.5em solid $palette-orange;
        }

        &_blue {
            border-bottom: 0.5em solid $palette-blue;
        }

        &_green {
            border-bottom: 0.5em solid $palette-green;
        }

        &_purple {
            border-bottom: 0.5em solid $palette-purple;
        }

        &_brown {
            border-bottom: 0.5em solid $palette-brown;
        }
    }
}

.benefits {
    padding: 6%;
    background-color: $primary-light;
    position: sticky;
    top: 3em;
    align-self: flex-start;
    border-radius: 1em;
}

.pyramid {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 3em;
    background-color: $primary;
    background-image: url('../img/pyramid-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: $base-100;
    padding: 3em;

    &__figure {
        margin-top: 2em;

        @media screen and (max-width: $breakpoint-mobile) {
            margin-top: 24%;
            transform: scale(1.5);
        }
    }
}

.list {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    margin-bottom: 0;

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        gap: 1em;
    }
}

.contact {
    background-color: $base-200;
    padding: 3em;

    @media screen and (max-width: $breakpoint-mobile) {
        padding: 1.5em;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin: 2em 0;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: $base-900;
    color: $base-100;
    gap: 1em;
    padding: 1.5em 2em;

    @media screen and (max-width: $breakpoint-mobile) {
        flex-direction: column;
        align-items: flex-start;
    }

    &__copyright {
        opacity: 0.5;
    }
}

.subtitle {
    color: $base-400;
}