.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 3em;
    @include fadein;

    @media screen and (max-width: $breakpoint-mobile) {
        padding: 2em 6%;
    }

    &_contact {
        background-color: $base-100;
        padding: 3em;
        border-radius: 1em;

        @media screen and (max-width: $breakpoint-mobile) {
            background-color: $base-200;
            padding: 0;
            border-radius: 0;
        }
    }
}

.layout {

    &_2col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8%;
        align-items: center;

        @media screen and (max-width: $breakpoint-tablet) {
            grid-template-columns: 1fr;
            gap: 2em;
        }
    }
}

.subtitle {
    color: $base-400;
}