.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    user-select: none;

    &__menu {
        display: flex;
        gap: 2em;
        align-items: center;
        flex-wrap: wrap;

        &-link {
            color: $base-100;
            font-weight: 500;
        }
    }
}